<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

</head>
<body>
	<h1 class="jumbotron text-center text-primary">Lisää uusi kirja</h1>
	<div class="container text-center">
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		  	<label for="title">Kirjan nimi</label>
			<input type="text" id="title" size="30px" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="author">Kirjailija</label>
			<input type="text" id="author" size="30px" th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="year">Vuosi</label>
			<input type="text" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="isbn">ISBN</label>
			<input type="text" id="isbn" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="price">Hinta</label>
			<input type="text" th:field="*{price}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="categorylist">Category</label>
			<select id="categorylist" th:field="*{category}" class="form-control">
       		<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
			<div  style="clear: both; display: block; height: 10px;"></div>
			<input class="btn btn-success" id="button" type="submit" value="Tallenna" ></input>
		</form>
	</div>
</body>
</html>