<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

</head>
<body>
	<h1 class="jumbotron text-center text-primary">Books</h1>
	
	<div class="text-center">
			<h2 class="text-info" th:inline="text"><strong>Tervetuloa [[${#httpServletRequest.remoteUser}]]</strong></h2>
	</div>
	
	  <br />
	
    <table class="table table-striped">
		<tr>
		    <th>Nimi</th>
		    <th>Kirjailija</th>
		    <th>Vuosi</th>
		    <th>ISBN</th>
		    <th>Hinta</th>
		    <th>Aihe</th>
		    <th sec:authorize="hasAuthority('ADMIN')">Poista</th>
		    <th sec:authorize="hasAuthority('ADMIN')">Muokata</th>
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.title}"></td>
    		<td th:text="${book.author}"></td>
    		<td th:text="${book.year}"></td>
    		<td th:text="${book.isbn}"></td>
    		<td th:text="${book.price}"></td>
    		<td>
    		<span th:if="${book.category!=null}" th:text="${book.category.name}"></span>
    		<span th:unless="${book.category!=null}" ></span>
    		</td>			
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Poista</a></td>   
 			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info"th:href="@{/edit/{id}(id=${book.id})}">Muokata</a></td>  
    	</tr>
     </table>
     <br />
	 
	<p class="text-center" sec:authorize="hasAuthority('ADMIN')"><button class="btn btn-success" OnClick="location.href='/add'">Lisää kirja</button>
	
	<div class="text-center" style="padding:20px 0" >
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
			</form>
	</div>

</body>
</html>